amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==5.2.2
certifi==2017.7.27.1
chardet==3.0.4
Cheetah==2.4.4
cloud-init==0.7.6
configobj==5.0.6
Django==1.11.7
django-celery==3.2.2
djangorestframework==3.7.3
idna==2.6
Jinja2==2.9.6
jsonpatch==1.16
jsonpointer==1.10
kombu==3.0.37
Markdown==2.6.8
MarkupSafe==1.0
oauth==1.0.1
prettytable==0.7.2
PyMySQL==0.7.11
pytz==2017.3
PyYAML==3.12
requests==2.18.4
six==1.10.0
urllib3==1.22
